<div class="footer-widgets">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <!-- Text widget-->
        <aside class="widget widget-recent-entries">
          <div class="widget-title">
            <h6>회사소개 About Us</h6>
          </div>
          <div class="textwidget">
            <ul>
              <li><a href="#">텔루스는 파트너 쉽을 가지고자 하는 모든 분들에게 365일 언제나 활짝 열려 있습니다.</a><span class="post-date">contact us</span></li>
              <li><a href="#">본사</a><span class="post-date">경기도 용인시 처인구 남사면 당하로 113-12</span></li>
              <li><a href="#">서울사무소</a><span class="post-date">서울시 강남구 선릉로 704 청담벤처프라자 8층</span></li>
              <li><a href="#">대표: 원영훈</a><span class="post-date">TEL: 02-6416-2200<br>FAX: 02-6416-2228</span></li>
            </ul>

          </div>
        </aside>
      </div>
      <div class="col-md-3">
        <!-- Twitter widget-->
        <aside class="widget widget-recent-entries">
          <div class="widget-title">
            <h6>이메일 무단 수집 거부</h6>
          </div>
          <ul>
            <li><a href="#"> 웹사이트에 게시된 이메일 주소가 전자우편 수집 프로그램이나 그 밖의 기술적 장치 를 이용하여 무단으로 수집되는 것을 거부하며, 이를 위반시 정보통신망법에 의해 형사 처벌됨을 유념하시기 바랍니다.</a><span class="post-date"></span></li>
            <li><a href="#"></a><span class="post-date">[부칙](시행일) 본 이메일 무단 수집 거부 정책은 2016년 10월 1일부터 시행합니다.</span></li>
          </ul>
        </aside>
      </div>
      <div class="col-md-3">
        <!-- Recent entries widget-->
        <aside class="widget widget-recent-entries">
          <div class="widget-title">
            <h6>개인정보취급방침 Privacy Notice</h6>
          </div>
          <ul>
            <li><a href="#">개인정보 수집에 대힌 동의 및 관련 세부내용은 하단 링크를 통해 확인 하실 수 있습니다.</a><span class="post-date">Read more</span></li>
            <li><a href="#"></a><span class="post-date">COPYRIGHT (C) TELLUS ALL RIGHTS RESERVED.</span></li>
          </ul>
        </aside>
      </div>
      <div class="col-md-3">
        <!-- Recent works-->
        <aside class="widget widget-recent-works">
          <div class="widget-title">
            <h6>파트너 partner</h6>
          </div>
          <ul>
            <li><a href="https://www.facebook.com/onent2012" target="_blank"><img src="assets/images/widgets/1.jpg"></a></li>
            <li><a href="http://www.showmedia.kr/main/main.php" target="_blank"><img src="assets/images/widgets/2.jpg" alt=""></a></li>
            <li><a href="http://www.dat21.co.kr/" target="_blank"><img src="assets/images/widgets/3.jpg" alt=""></a></li>
            <li><a href="http://www.kbs.co.kr/" target="_blank"><img src="assets/images/widgets/4.jpg" alt=""></a></li>
            <li><a href="https://www.facebook.com/KStarVR/" target="_blank"><img src="assets/images/widgets/5.jpg" alt=""></a></li>
            <li><a href="http://www.everland.com/web/everland/main.html" target="_blank"><img src="assets/images/widgets/6.jpg" alt=""></a></li>
          </ul>
        </aside>
      </div>
    </div>
  </div>
</div>
<div class="footer-bar">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="copyright">
          <p>© 2018 Tellus, All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </div>
</div>