<div class="container-fluid">
  <!-- Brand-->
  <div class="inner-header">
    <a class="inner-brand" href="../index.html">
      <div class="main-logo"></div>
    </a>
  </div>
  <!-- Navigation-->
  <div class="inner-navigation collapse">
    <div class="inner-nav">
      <ul>
        <li class="menu-item-has-children"><a href="#"><span class="menu-item-span">회사소개</span></a>
          <ul class="sub-menu">
            <li><a href="../about.html"><i class="material-icons md-12" style="top: 4px; position: relative;">desktop_mac</i>회사소개</a></li>
            <li><a href="../timeline.html"><i class="material-icons md-12" style="top: 4px; position: relative;">send</i>회사연혁</a></li>
            <li><a href="../org-chart.html"><i class="material-icons md-12" style="top: 3px; position: relative;">group_work</i>회사 조직도</a></li>
          </ul>
        </li>
        <li class="menu-item-has-children"><a href="#"><span class="menu-item-span">사업분야</span></a>
          <ul class="sub-menu">
            <li><a href="../business1.html"><i class="material-icons md-12" style="top: 3px; position: relative;">live_tv</i>ENTERTAINMENT</a></li>
            <li><a href="../business2.html"><i class="material-icons md-12" style="top: 4px; position: relative;">visibility</i>VRㆍAR</a></li>
            <li><a href="../business3.html"><i class="material-icons md-12" style="top: 4px; position: relative;">directions_car</i>CAR</a></li>
          </ul>
        </li>
        <li class="menu-item-has-children"><a href="#"><span class="menu-item-span">IR</span></a>
          <ul class="sub-menu">
            <li><a href="../disclosure.html"><i class="fas fa-info-circle"></i>공시정보</a></li>
            <li><a href="../stock.html"><i class="fas fa-chart-pie"></i>주가정보</a></li>
            <li><a href="../finance.html"><i class="fas fa-dollar-sign"></i>재무정보</a></li>
            <li><a href="../public_notice.html"><i class="fas fa-plus-square"></i>공고</a></li>
          </ul>
        </li>
        <li class="menu-item-has-children"><a href="#"><span class="menu-item-span">사업제휴</span></a>
          <ul class="sub-menu">
            <!-- <li><a href="official_notice.html"><i class="far fa-question-circle"></i>공지사항</a></li> -->
            <li><a href="../contactus.html"><i class="fas fa-link"></i>사업문의</a></li>
          </ul>
        </li>
        <li class="menu-item-has-children"><a href="../contact.html"><span class="menu-item-span">contact</span></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="extra-nav">
    <ul>
      <li><a class="off-canvas-open" href="#"><span class="menu-item-span"><i class="ti-menu"></i></span></a></li>
      <li class="nav-toggle"><a href="#" data-toggle="collapse" data-target=".inner-navigation"><span class="menu-item-span"><i class="ti-menu"></i></span></a></li>
    </ul>
  </div>
</div>