<div class="off-canvas-sidebar">
    <div class="off-canvas-sidebar-wrapper">
        <div class="off-canvas-header"><a class="off-canvas-close" href="#"><span class="ti-close"></span></a></div>
        <div class="off-canvas-content">
            <!-- Text widget-->
            <aside class="widget widget-text">
                <div class="textwidget">
                    <p class="text-center"><img src="../assets/images/logo_light.png" alt="" width="80px"></p>
                    <p class="text-center">
                        4차 산업혁명의 시대를 맞아 세상은 빠르게 발전하고 변화하고 있습니다. 그 시대의 흐름에 맞춰 텔루스의 사업 분야도 다양하게 더 진취적인 미래를 함께 준비하고 발전해 나가고 있습니다. 텔루스의 미래를 함께 걸어나가는 모든이가 있기에 그 한걸음은 더욱 빛날 수 있습니다.
                    </p>
                </div>
            </aside>
            <!-- Recent portfolio widget-->
            <aside class="widget widget-text">
                <div class="text-center">
                    <p><a href="../business1.html"><i class="material-icons md-36">live_tv</i></a></p>
                    <p>
                        <h6>ENTERTAINMENT</h6>
                    </p>
                    <p>뮤지컬/드라마/영화/공연 등<br>다양한 분야에 투자 및 사업관리</p>
                </div>
                <div class="text-center">
                    <p><a href="../business2.html"><i class="material-icons md-36">visibility</i></a></p>
                    <p>
                        <h6>VRㆍAR</h6>
                    </p>
                    <p>KBS와 합작으로 K-Star VR관 오픈<br>그 외 두 곳의 주요 관광지에<br>추가 VR오프라인 사업관 준비 진행</p>
                </div>
                <div class="text-center">
                    <p><a href="../business3.html"><i class="material-icons md-36">directions_car</i></a></p>
                    <p>
                        <h6>CAR</h6>
                    </p>
                    <p>고객의 니즈에 맞는<br>하이엔드 급 신차량 판매<br>최고의 맞춤 서비스</p>
                </div>
                <div class="text-center" style="margin-top: 70px;">
                    <div class="copyright">
                        <p>© 2018 Tellus, All Rights Reserved.</p>
                    </div>
                </div>
            </aside>
            <!-- Social Icons-->
            <!-- <ul class="social-icons text-center">
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                </ul> -->
        </div>
    </div>
</div>